@import 'nib';

html, body {
  box-sizing: border-box;
  margin: 0;
  overflow: hidden;
  height: 100%;
  background-color: #d3d3d3;
}

* {
  box-sizing: inherit;
}

#page {
  position: relative;
  height: 100%;
  max-width: 420px;
  max-height: 700px;
  margin: 0 auto;
}
